<div class="w-full px-6 sm:px-12 md:px-[20vh] pb-10 text-[#2D336B]">
  <div class="rounded-xl flex flex-col-reverse md:flex-row justify-between items-center bg-white overflow-hidden max-h-[50vh]">
    
    <div class="w-full md:w-[50%] max-w-[40%]">
      <img
        src="https://theme-refresh-demo.myshopify.com/cdn/shop/files/image_80.jpg?v=1650476746&width=750"
        alt="Hair product"
        class="rounded-t-xl sm:rounded-l-xl md:rounded-l-xl md:rounded-r-none object-cover w-full h-full"
      />
    </div>
    
    <div class="w-full md:w-[60%] px-6 sm:px-16 md:px-16 flex flex-col justify-center gap-4 sm:gap-6 h-auto py-10 sm:py-0">
      <p class="text-3xl sm:text-5xl font-bold">Body.</p>
      <p class="text-base sm:text-lg">
        Caring for your body shouldn’t start and end with a hot shower. Show it some love with powerhouse formulas to keep your skin clean and healthy.
      </p>
      <div>
        <button class="bg-[#2D336B] px-4 py-2 rounded-3xl text-white w-full sm:w-auto">
          Shop hair
        </button>
      </div>
    </div>
  </div>
</div>
